{
    "presets": [[
        "@babel/env",
        {
            "debug": true,
            "targets": [
                "> 0.3%",
                "not ie > 0"
            ]
        }
        ]],
    "plugins": ["@babel/proposal-class-properties"]
}