{
    "presets": [[
        "@babel/env",
        {
            "targets": {
                "edge": "18",
                "chrome": "74"
            }
        }
        ]],
    "plugins": ["@babel/proposal-class-properties"]
}